In [2]:
import pandas as pd
import datetime as datetime

In [1]:
movies_df = pd.read_csv('input/movies.csv', dtype=str)
movies_df

NameError: name 'pd' is not defined

In [ ]:
ratings_df = pd.read_csv('input/ratings.csv', dtype=str)

In [ ]:
ratings_df

In [ ]:
ratings_df.info()

# Simple Column Conversion
Two ways to do this:
1. Independently defined function
2. Lambda function

In [17]:
ratings_df[ratings_df['timestamp'].isna()]

         userId  movieId  rating  timestamp
7256623   74531    44555     4.0        NaN

In [18]:
ratings_df = ratings_df.dropna(subset=['timestamp'])

In [19]:
def convert_from_timestamp_to_datetime(timestamp: int):
  return datetime.datetime.utcfromtimestamp(timestamp)

In [24]:
ratings_df_with_date_from_function = ratings_df
ratings_df_with_date_from_function['date_rated'] = ratings_df_with_date_from_function['timestamp'].apply(convert_from_timestamp_to_datetime)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
ratings_df_with_date_from_function

         userId  movieId  rating     timestamp          date_rated
0             1      307     3.5  1.256677e+09 2009-10-27 21:00:21
1             1      481     3.5  1.256677e+09 2009-10-27 21:04:16
2             1     1091     1.5  1.256677e+09 2009-10-27 21:04:31
3             1     1257     4.5  1.256677e+09 2009-10-27 21:04:20
4             1     1449     4.5  1.256677e+09 2009-10-27 21:01:04
...         ...      ...     ...           ...                 ...
7256618   74531    38304     5.0  1.287760e+09 2010-10-22 15:07:54
7256619   74531    41014     4.5  1.347335e+09 2012-09-11 03:44:41
7256620   74531    41285     2.0  1.404405e+09 2014-07-03 16:35:29
7256621   74531    42632     4.0  1.353081e+09 2012-11-16 15:56:18
7256622   74531    43444     5.0  1.323805e+09 2011-12-13 19:43:24

[7256623 rows x 5 columns]

In [27]:
ratings_df_with_date_from_lambda = ratings_df
ratings_df_with_date_from_lambda['date_rated'] = ratings_df_with_date_from_lambda['timestamp'].apply(lambda x: datetime.datetime.utcfromtimestamp(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
ratings_df_with_date_from_lambda

         userId  movieId  rating     timestamp          date_rated
0             1      307     3.5  1.256677e+09 2009-10-27 21:00:21
1             1      481     3.5  1.256677e+09 2009-10-27 21:04:16
2             1     1091     1.5  1.256677e+09 2009-10-27 21:04:31
3             1     1257     4.5  1.256677e+09 2009-10-27 21:04:20
4             1     1449     4.5  1.256677e+09 2009-10-27 21:01:04
...         ...      ...     ...           ...                 ...
7256618   74531    38304     5.0  1.287760e+09 2010-10-22 15:07:54
7256619   74531    41014     4.5  1.347335e+09 2012-09-11 03:44:41
7256620   74531    41285     2.0  1.404405e+09 2014-07-03 16:35:29
7256621   74531    42632     4.0  1.353081e+09 2012-11-16 15:56:18
7256622   74531    43444     5.0  1.323805e+09 2011-12-13 19:43:24

[7256623 rows x 5 columns]

# Now we can look at string manipulation, exploding a column, and regrouping
Goal: Let's get lists of movies for each genre and count how many movies there are of each genre

In [30]:
movies_df['genres_list'] = movies_df['genres'].apply(lambda x: x.split('|'))

Sampling the Data Frame versus just viewing the default rows returned
- sampling allows you to see more of the data
- this lets you eye ball for anything wierd that may not exist in the first and last ten rows

In [32]:
movies_df.sample(20)

,movieId,title,genres,genres_list
25404,116686,Deadly Dreams (1988),Horror|Thriller,"[Horror, Thriller]"
39579,152260,L'odeur de la mandarine (2015),Drama|Romance,"[Drama, Romance]"
12981,61279,Variety Lights (1950),Drama,[Drama]
7019,7130,Darling (1965),Drama,[Drama]
2095,2178,Frenzy (1972),Thriller,[Thriller]
34706,140621,Russell Brand - From Addiction to Recovery (2012),Documentary,[Documentary]
25518,116941,Jetsons: The Movie (1990),Animation|Children|Comedy|Musical|Sci-Fi,"[Animation, Children, Comedy, Musical, Sci-Fi]"
13008,61470,"Boys in Company C, The (1978)",Drama|War,"[Drama, War]"
11210,47124,"Ant Bully, The (2006)",Adventure|Animation|Children|Comedy|Fantasy|IMAX,"[Adventure, Animation, Children, Comedy, Fanta..."
5787,5885,"What to Do in Case of Fire (Was tun, wenn's br...",Comedy|Drama,"[Comedy, Drama]"
6109,6207,"Slaughter Rule, The (2002)",Drama,[Drama]
39204,151433,Mill of the Stone Women (1960),Horror|Sci-Fi,"[Horror, Sci-Fi]"
50376,176199,Altar of Fire (1976),Documentary,[Documentary]
492,496,What Happened Was... (1994),Comedy|Drama|Romance|Thriller,"[Comedy, Drama, Romance, Thriller]"
52902,181871,Sea Salts (1949),Animation,[Animation]
11634,50828,Red Angel (Akai tenshi) (1966),Drama|Romance|War,"[Drama, Romance, War]"
33902,138702,Feast (2014),Animation|Children|Comedy|Drama|Romance,"[Animation, Children, Comedy, Drama, Romance]"
17145,86368,Confessions of a Nazi Spy (1939),Drama,[Drama]
27607,123012,The Daughter of Rosie O'Grady (1950),Comedy,[Comedy]
48093,171341,The Yellow Birds (2017),Drama|War,"[Drama, War]"

Now you can... 
1. Join the ratings to the movies in order to get ratings for all movies
  - Ensure that you did have ratings that didn't have associated movies
  - Make sure you join the right direction
2. Convert the timestamp to somehting readable
  - Check for invalid timestamps?
3. Add a column on the joined df that has the average rating for a given movie
4. Find the average rating for a movie of a specific genere